.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-flip infinite 10s linear;
  height: 40vmin;
}

.App-header {
  background-color: #14161a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.button{
  display: block;
  width: 115px;
  height: 25px;
  background: rgb(213, 217, 241);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: rgb(15, 1, 1);
  font-weight: bold;
  text-decoration: none !important;
}

.card{
  max-width: 30%;
}
